<p>Name: <%= @project.name %></p>
<p>Description: <%= @project.description %></p>

<%= admins_only do %>
  <%= link_to 'Edit', edit_admin_project_path(@project) %>
  <%= link_to 'Delete', admin_project_path(@project),
              method: :delete, data: { confirm: 'Are you sure?'} %>
<% end %>

<%= link_to 'Create ticket', new_project_ticket_path(@project) %>

<table class="table">

  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @project.tickets.each do |ticket| %>
      <tr>
        <td><%= link_to ticket.title, project_ticket_path(@project, ticket) %></td>
        <td><%= ticket.description %></td>
      </tr>
    <% end %>
  </tbody>

</table>
